<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments/fragments :: head"></head>
  <body>
  <div th:replace="fragments/fragments :: navbar" ></div>
 
  <main role="list">
     <!--
      <div class="jumbotron">
          <div class="container">
              <h1 class="display-3">Book Store</h1>
              <p>This is a e-commerce application that allows the user to purchase books. </p>
              <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
          </div>
      </div>-->
      <div class="container">
          <div class="row">
       		 <div class="card col-md-3 small-product-card"  th:each="book:${books}">
                    <a  th:href="@{/book/{id}(id=${book.getId()})}"><img th:alt="${book.title}" th:src="@{${book.image}}" class="card-img"/></a>
                    <div class="card-body">
                    	<div class="card-title">
                        	<h4 th:text="${book.title}"></h4>
                        	<small th:text="${book.getAuthor()}"></small>
                    	</div>
                	</div>    
        		</div>
    		</div>
  		</div>
  </main>
 
  <footer th:replace="fragments/fragments :: footer"></footer>
  </body>
  </html>